<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.namelessrom.ota"
    android:versionCode="3"
    android:versionName="1.0.2">

    <uses-sdk android:minSdkVersion="21"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.RECOVERY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM" />

    <application
        android:name=".updater.UpdateApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.namelessrom.ota.SystemUpdateActivity"
            android:label="@string/system_updates">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.settings.SYSTEM_UPDATE_SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.namelessrom.ota.changelog.ChangelogActivity"
            android:label="@string/recent_changes"
            android:parentActivityName="org.namelessrom.ota.SystemUpdateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="org.namelessrom.ota.RECENT_CHANGES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".updater.UpdatePreferenceActivity"
            android:label="@string/action_preferences"
            android:parentActivityName="org.namelessrom.ota.SystemUpdateActivity" />

        <receiver android:name="org.namelessrom.ota.receivers.BootupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="org.namelessrom.ota.receivers.DownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>

        <receiver android:name="org.namelessrom.ota.receivers.UpdateCheckReceiver" />
    </application>

</manifest>
